body{
    background-color:#FFF4EA;
}
p{
    text-align:center; color:blue;
}
#header{
    text-align:center; color: #BF4646;
}
.About{
    text-align:center; color: #7EACB5;
}
.center{
    text-align:center;
}
.Projects{
    background-color:#EDDCC6;
}
.ul{
    display:inline-block;
}


