body{
    background-color:#EDDCC6;
}
p{
    text-align:center; color:blue;
}
#header{
    text-align:center; color: #BF4646;
}
.About{
    text-align:center; color: #7EACB5;
}
.center{
    text-align:center;
}
.green{
    font-weight:bold;
}
.Projects{
    background-color:#FFF4EA;
}


