body{
    background-color:rgb(255, 251, 214);
}
p{
    text-align:center; color:blue;
}
#header{
    text-align:center; color:red;
}
.About{
    text-align:center; color:greenyellow;
}
.left{
    text-align:lext;
}
.green{
    font-weight:bold;
}
.Projects{
    background-color:#B6174B;
}


